{% extends "ecom_admin/admin_home.html" %}
{% load static %}
{% block header%}
<link rel="stylesheet" href="{% static 'css/seller_approval.css' %}">

{% endblock %}

{% block content %}
<div class="div-grid">
    <div class="content-div">
        <table>
            <tr>
                <th>SR NO:</th>
                <th>Customer Id</th>
                <th>Customer Name</th>
                <th>Customer Address</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Username</th>   
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
        </table>

    </div>

</div>
{% endblock %}