{% extends "ecom_admin/admin_home.html" %}
{% load static %}
{% block header%}
<link rel="stylesheet" href="{% static 'css/seller_approval.css' %}">

{% endblock %}

{% block content %}
<div class="div-grid">
    <div class="content-div">
        <table>
            <tr>
                <!-- <th>SR NO:</th> -->
                <th>Customer Id</th>
                <th>Customer Name</th>
                <th>Customer Address</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Username</th>
                <th>Password</th> 
                <th>Image</th>  
            </tr>
            {% for cust_dtls in cus_dtls %}
            <tr>
                <td>{{cust_dtls.id }}</td>
                <td>{{cust_dtls.customer_name}}</td>
                <td>{{cust_dtls.address}}</td>
                <td>{{cust_dtls.mobile}}</td>
                <td>{{cust_dtls.email}}</td>
                <td>{{cust_dtls.gender}}</td>
                <td>{{cust_dtls.email}}</td>
                <td>{{cust_dtls.password}}</td>
                <td><img src="{{cust_dtls.image.url}}" width="100px" height="100px"></td>
            </tr>
            {% endfor %}
        </table>

    </div>

</div>
{% endblock %}